
body{
    margin: 0;
    font-family: sans-serif;
    
   
}

/* Basic style  */

.app {
    background-color: #dcf5f4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #163038;
}

.header {
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    margin: 0 0 10px 0;
    font-size: 3rem;
    color: #29525f;
}

.header select {
    font-size: 1.5rem;
}

.header #left {
    float: left;
    margin-left: 15rem;
    font-size: large;
}

.header #right {
    float: right;
    margin-right: 15rem;
    font-size: large;
    
}

button {
    background-color: rgb(139, 206, 206);
    border-color: rgb(101, 165, 165);
    border-radius: 0.25rem ;
    
}

/* styling background to easy be able to fir pictures */

#pic {
    height: 100vh;
    background-color: #163038;
    overflow: auto;
    position: relative;
}

/* Get picture to fit inside the remaing space and not overflow the div */

.pic_pic{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    
}

#opt {
    color: rgb(51, 95, 95);
}