body {
    margin: 0;
    font-family: sans-serif;
}

/* Basic style  */

.app {
    background-color: #dcf5f4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #163038;
}

.header {
    text-align: center;
    padding: 20px 0;
    padding-bottom: 0;
}

.header h1 {
    margin: 0 0 10px 0;
    font-size: 3rem;
    color: #29525f;
}

.header select {
    font-size: 1.5rem;
}


button {
    background-color: rgb(139, 206, 206);
    border-color: rgb(101, 165, 165);
    border-radius: 0.25rem;

}

/* styling background to easy be able to fir pictures */

#pic {
    height: 100vh;
    background-color: #163038;
    overflow: auto;
    position: relative;
}

/* Get picture to fit inside the remaing space and not overflow the div */

.pic_pic {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

}

#opt {
    color: rgb(51, 95, 95);
}

/* styling name giver input and pharse */

#give-name {
    margin-top: 1rem;
}

.randomName {
    font-size: 2rem;
    color: rgb(12, 29, 44);
}

.up_pic {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.3;
}

#uNameInput {
    padding: 7px;
    border: none;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 0.4rem;
    width: 250px;

}

#gen-button {
    background-color: #0c2853a2;
    /* Green */
    color: white;
    border: none;
    border-radius: 0.4rem;
    padding: 5px 30px;
    text-align: center;
    font-size: 16px;
}

#gen-button:hover {
    background-color: #1c7694;
    color: white
}

#give-name + p {
    color: #3a484d;
    padding: 0 0 0 0 ;
    margin: 0 0 0 0;
    margin-top: 10px ;
}
.randomName {
    color: #136c8a;
}